      * {
        font-family: "Russo One", static;
        margin: auto;
      }

      body {
        overflow-x: hidden;
      }

      p {
        line-height: 1.7rem;
        margin-top: 20px;
        margin-bottom: 0px;
      }

      a {
        text-decoration: none;
        color: white;
      }

      .headerContainer {
        color: white;
        display: flex;
        font-size: 0.7rem;
        background-color: #ff6347;
        width: 100%;
        height: 80px;


      }

      .logo {
        font-size: 1.7rem;
        margin-top: 10px;
        margin-left: 50px;
      }

      .logo p {
        margin-top: -25px;
        margin-right: 50px;
        padding-top: 51px;
        padding-bottom: 36px;
        padding-left: 50px;
        padding-right: 30px;
      }

      nav ul li {
        display: inline;
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 80px;
        padding-top: 39px;
      }

      nav ul li:hover {
        color: lightgray;
        background-color: rgb(255, 108, 82);
      }

      .introImageContainer img {
        width: 100%;
        position: relative;
      }

      .introImageContainer::before {
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, 0.501);
        width: 100%;
        height: 62%;
        z-index: 1;
      }

      .centered {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
        color: white;
        font-size: 3rem;
        z-index: 2;
      }

      .centered button {
        justify-content: center;
        align-items: center;
        background-color: tomato;
        margin-top: 50px;
        display: flex;
        padding: 25px;
        font-size: 2rem;
        border-width: 0px;
        border-radius: 20px;
        color: white;
      }

      .centered button:hover {
        cursor: pointer;
        width: 40%;
        height: 90px;
        background-color: rgb(255, 108, 82);
        color: lightgray;
      }

      .mainStart {
        margin: 20px;
        display: flex;
        margin-bottom: 50px;
      }

      .mainTextContainer {
        margin-left: 0px;
        margin-top: 10px;
      }
      .signin-container {
        background-color: rgb(241, 244, 195);
        padding: 20px;
        border-radius: 8px;
        margin-top: 10%;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        width: 500px; 
        height: 250px;
    }
    .signin-container h2 {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-bottom: 20px;
    }
    .signin-container input[type="email"],
    .signin-container input[type="password"] {
        width: 80%;
        padding: 10px;
        margin: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .signin-container button {
        width: 100%;
        background-color: #0078d4;
        color: rgb(214, 222, 188);
        border: none;
        border-radius: 4px;
        height: 50px;
    }
    .signin-container button:hover {
        background-color: #005a9e;
        height: 60px;
    }

      footer {
        padding: 3px;
        padding-bottom: 10px;
        background-color: lightgrey;
        width: 100%;
        height: 70px;
      }


      footer p {
        margin-top: 30px;
        margin-left: 30px;
        color: white;
      }

      /* THIS IS THE ANATOMY SECION */

      .mainAnatomy {
        display: flex;
        justify-content: space-between;
      }

      .hypertrophyContainer,
      .strengthContainer,
      .enduranceContainer {
        display: flex;
        margin: 20px 0;
        padding: 20px;
        align-items: start;
        background-color: #f9f9f9;
        width: 1000px;
        transition: height 1.5s;
        height: 200px;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        overflow: scroll;
      }

      .hypertrophyContainer:hover,
      .strengthContainer:hover,
      .enduranceContainer:hover {
        height: 400px;
        transition: height 2s;
      }

      .muscleGrowthContainer h1,
      .muscleGrowthContainer p {
        margin-left: 20px;
        margin-top: 20px;
      }

      .muscleGrowthContainer p {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-top: 50px;
      }

      .muscleGrowthContainer a {
        text-decoration: none;
        color: black;
      }

      .hypertrophyContainer img {
        margin-top: 20px;
        margin-right: 50px;
        margin-left: 30px;
        margin-bottom: 50px;
      }

      .strengthContainer img {
        margin-top: 50px;
      }

      .enduranceContainer img {
        margin-top: 50px;
        margin-right: 20px;
      }

      .bodyTypeContainer {
        background-color: #f9f9f9;
        width: 20%;
        color: black;
        border-radius: 10px;
        padding: 20px;
        font-size: 1rem;
        margin-top: 20px;
      }

      .bodyTypeContainer a {
        text-decoration: none;
        color: tomato;
      }

      /* START OF HYPERTROPHY INTRO / STRENGTH INTRO */

      .mainMuscleGroups {
        margin: 40px 0px 0px 40px;
      }

      .mainHypertrophy,
      .mainStrength,
      .mainEndurance {
        margin-top: 50px;
        margin-bottom: 60px;
        display: block;
        justify-content: space-between;
        width: 100%;
      }

      .firstRow,
      .secondRow,
      .thirdRow {
        display: flex;
        width: 100%;
      }

      .mainHypertrophy p,
      .mainStrength p,
      .mainEndurance p {
        position: relative;
        color: white;
        text-align: center;
        margin-top: 50px;
        margin-right: 20px;
        margin-left: 20px;
        font-size: 1.4rem;
        z-index: 2;
      }

      .chest,
      .shoulders,
      .triceps,
      .traps,
      .back,
      .biceps,
      .forearms,
      .legs,
      .abdominals {
        background-image: url("https://www.dmoose.com/cdn/shop/articles/feature-image_664d327f-547e-4e9e-aae3-3e9d651d2cea.jpg?v=1683545606");
        border-radius: 10px;
        width: 100%;
        max-width: 400px;
        transition: height 1.5s;
        height: 100px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 20px;
        position: relative;
        box-shadow: 4px 0px 4px 0px;
        overflow: hidden;
      }

      .chest:hover,
      .shoulders:hover,
      .triceps:hover,
      .traps:hover,
      .back:hover,
      .biceps:hover,
      .forearms:hover,
      .legs:hover,
      .abdominals:hover {
        height: 400px;
        transition: height 2s;
      }

      .chest::before,
      .shoulders::before,
      .triceps::before,
      .traps::before,
      .back::before,
      .biceps::before,
      .forearms::before,
      .legs::before,
      .abdominals::before {
        z-index: 1;
        content: '';
        position: absolute;
        width: 400px;
        height: 400px;
        background-color: rgba(0, 0, 0, 0.501);
        border-radius: 10px;
      }

      .shoulders {
        background-image: url("https://hips.hearstapps.com/hmg-prod/images/man-training-with-dumbbells-royalty-free-image-1700823785.jpg");
      }

      .triceps {
        margin-right: 5%;
        background-image: url("https://prorganiq.com/cdn/shop/articles/medial-tricep-head-exercises.jpg");
      }

      .traps {
        margin-top: 50px;
        background-image: url("https://www.muscletech.com/cdn/shop/articles/MT-Traps-Workout-900x675.jpg?v=1731102659")
      }

      .back {
        margin-top: 50px;
        background-image: url("https://media.istockphoto.com/id/1028271392/photo/muscular-man-training-his-back.jpg?s=612x612&w=0&k=20&c=osNOzRBERLXKCG6Ugcr8uOdNBICFnolYixDE8S28M08=");
      }

      .biceps {
        margin-top: 50px;
        margin-right: 5%;
        background-image: url("https://hips.hearstapps.com/hmg-prod/images/fit-chinese-guy-practicing-with-dumbbells-in-gym-royalty-free-image-1610380612.?crop=0.668xw:1.00xh;0,0&resize=1200:*");
      }

      .forearms {
        margin-top: 50px;
        background-image: url("https://hips.hearstapps.com/hmg-prod/images/gym-workout-weight-training-bodybuilding-muscular-royalty-free-image-1703160802.jpg?crop=0.88847xw:1xh;center,top&resize=1200:*");
      }

      .legs {
        margin-top: 50px;
        background-image: url("https://hips.hearstapps.com/hmg-prod/images/young-man-training-on-a-leg-machine-in-the-gym-royalty-free-image-1701168283.jpg");
      }

      .abdominals {
        margin-top: 50px;
        margin-right: 5%;
        background-image: url("https://thumbs.dreamstime.com/b/bodybuilder-training-man-crunches-fitness-workout-core-strength-guy-endurance-sports-athlete-abs-muscle-power-health-344022068.jpg");
      }

      .hypertrophyIntro,
      .strengthIntro,
      .enduranceIntro {
        padding: 20px;
        text-align: center;
        color: black !important;
        font-size: 2.2rem !important;
        line-height: 2.7rem;
        margin-top: 20px;
        padding-bottom: 0 !important;
      }

      /* THIS IS THE BEGINNING OF BODY TYPES */

      .bodyTypesMain h2 {
        margin-top: 60px;
        margin-left: 40px;
      }

      .bodyTypeHeader {
        margin: 0px 0px 0px 40px;
      }

      .bodyTypeHeader01 {
        margin-top: 40px;
        margin-left: 40px;
        font-size: 3rem;
      }

      .bodyTypesMain img {
        margin-right: 150px;
      }

      .bodyTypesMain p {
        margin-left: 80px;
        font-size: 1.1rem;
        margin-right: 90px;
        margin-bottom: 30px;
        line-height: 2rem;
        margin-top:40px;
      }

      .bodyTypesMain li {
        margin-top: 10px;
        margin-left: 60px;
        font-size: 1.7rem;
      }

      .bodyTypeListFlex, .bodyTypeListFlexMI, .bodyTypeListFlexProteins {
        display: flex;
      }

      .bodyTypeList img{
        display: flex;
        margin-left: 470px;
        margin-top: 20px;
        width: 500px;
      }

      .bodyTypeListText ul{
        margin-bottom:40px;
        margin-right:100px;
      }

      iframe {
        display: flex;
        border-radius: 10px;
        align-items: center;
        margin-top: 30px;
      }

      .bodyTypesMain a h1 {
        color: tomato;
        text-align: center;
        margin-bottom: 40px;
      }

      .bodyTypeListText li{
       font-size:1rem;
       padding:5px;
      }

      .bodyTypeListFlexMI img{
        margin-right:70px;
        width:550px;
      }
      
      .heightImg{
        background-color: #f9f9f9;
        margin-right:400px !important;
        margin-left:400px !important;
        border-radius: 20px;
        padding-left:100px;
        padding-right:100px;
        box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
      }
      /* FOR ABOUT US PAGE */
      .about {
        display: flex;
      }

      /* FOR CONTACTS PAGE */
      .contacts {
        margin: 20px;
        margin-bottom: 50px;
      }

      .question input {
        height: 173px;
      }

      .bodyTypeListFlexProteins img{
        margin-right:0px;
      }

      .bodyTypeListFlexBMI{
        display: flex;
      }

      .bodyTypeListFlexBMI img{
        width:500px;
        margin-right:50px;
      }